In [ ]:
DataScienceEcosystem.ipynb

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem is being practiced all learned in the chapter

**Objectives:**

- Popular languages that Data Scientists use
- Commonly used libraries used by Data Scientists
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Java
4. Julia
5. Scala
6. JavaScript
7. Swift

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy 
3. Pandas
4. Matplotlib 
5. Keras

| Data Science Tools| 
| ------------------| 
| RStudio| 
| Apache Spark| 
| TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [22]:
# This aN arithmetic expression to mutiply then add 

(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ale Godoy